<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="../theme/css/default.css">
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../theme/css/phone.css">

    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/presenter.js"></script>

    <script src="../js/angular/angular.js"></script>

    <base target="_blank">
    <style>
        code {
            color: darkblue;
        }
    </style>

    <!-- This opens all links in a new tab. -->
    <script data-main="../js/slides" src="../js/require-1.0.8.min.js"></script>

    <!--In order to have more than one slideset in the project-->
    <script src="slides.js"></script>

</head>

<!--Setup Angular for the full slide-set-->
<!--<body ng-app="SlideApp" style="opacity: 0">-->
<body style="opacity: 0" ng-app="SlideApp">

<slides class="layout-widescreen">

    <slide class="title-slide segue nobackground" style="background: #00163B">
        <aside class="gdbar"><img src="../images/logo.png" style="width: 200px;"></aside>
        <hgroup class="auto-fadein" style="color: white;">
            <div style="float: left;">
                <h1 data-config-title style="float:left;"></h1>
                <br/>

                <h2 data-config-subtitle style="float:left"></h2>
                <br/>

                <p data-config-presenter style="float:left"></p>
            </div>
            <div style="float:left;margin-left: 2em;"><img src="../../images/AngularLogo.png"
                                                           style="float:right;width:50%"></div>
        </hgroup>
    </slide>

    <slide>
        <hgroup>
            <h2>Angular - The bits and pieces that <br/> make up an application</h2>
        </hgroup>
        <article>
            <p>In order to understand Angular we need to understand the building blocks that make up an application</p>
            <img src="images/angularModule.png" style="width: 80%;margin-left: 10%;">
        </article>
    </slide>


    <slide>
        <hgroup>
            <h2>Angular - Modules</h2>
        </hgroup>
        <article>

            <p>Convince yourself, that this is really the building blocks, using <em>code completion</em> in WebStorm
            </p>

            <div class="row" style="margin-top: 80px;">
                <div class="col-md-5">
                    <img src="images/angularModule.png" style="width: 100%;">
                </div>
                <div class="col-md-7">
                    <img src="images/codeCompletion.PNG" style="width: 95%;margin-left: 10%;">
                </div>
            </div>
        </article>
    </slide>


    <script>
        $(document).ready(function () {
            $("#ex1").exPresenter({
                directory: "examples/ex1/",
                codeClass: "prettyprint pre18",
                codeStyle: "float:left;margin-right:5px;margin-bottom:5px;width:65%;background-color:white;",
                presenterStyle: "float:right;width:30%",
                imageStyle: "width:100%;",
                imageTitle: "Modules"
            });
        });
    </script>


    <slide>


        <hgroup>
            <h2>Angular - Modules</h2>
        </hgroup>
        <article>
            <p style="margin-top: -25px;">A <em>module</em> is a container for the different parts of our app</p>

            <p>Think of the module as the counterpart to <em>main(..)</em> in a Java application. A place that wires
                together
                the different
                parts of the application</p>
      <pre class="prettyprint ">
var myAppModule = angular.module('myApp', []); </pre>


            <div id="ex1" style="margin-top: 20px;"></div>
            <footer class="source"><a href="https://docs.angularjs.org/guide/module">Modules</a></footer>


        </article>
    </slide>


    <slide>


        <hgroup>
            <h2>Angular - Controllers</h2>
        </hgroup>
        <article>
            <p>In Angular, a Controller is a JavaScript constructor function that is used to augment the Angular
                Scope.</p>

            <p>Before we go into Controllers we need to understand <em>Scopes</em></p>
            <img src="images/controllers.png" style="width: 70%;margin-left: 15%">

            <footer class="source"><a href="https://docs.angularjs.org/guide/controller">Controllers</a></footer>

        </article>
    </slide>

    <script>
        var app = angular.module('SlideApp', []);

        app.controller('MyCtrl', ['$scope',
            function ($scope) {
                $scope.name = 'World';

                $scope.sayHello = function () {
                    $scope.greeting = 'Hello ' + $scope.name;
                };
            }]);

    </script>

    <slide>
        <hgroup>
            <h2>$Scope</h2>
        </hgroup>

        <article>
            <p>A scope can be seen as the glue which allows the template, model and controller to work together.
                Angular uses scopes, along with the information contained in the template, data model, and controller,
                to keep models and views separate, but in sync. Any changes made to the model are reflected in the view;
                any
                changes that occur in the view are reflected in the model.</p>
            <img src="images/ScopeGlue.PNG" style="width: 75%;margin-left: 12%;;margin-top: 40px;">
        </article>
    </slide>

    <slide>
        <hgroup>
            <h2>Scopes</h2>
        </hgroup>
        <article>

            <div style="list-style-type: none;">
                <div>
                    <p style="color:darkblue">Scope serve as the glue between the controller and the view</p>

    <pre class="prettyprint pre18" style="float:left">
//Controller
angular.module('scopeExample', []);
  .controller('MyCtrl', ['<b>$scope</b>',
    function(<b>$scope</b>){
      <b>$scope.name </b>= 'World';

      <b>$scope.sayHello</b> = function() {
      <b>$scope.greeting</b> = 'Hello '
      + <b>$scope.name</b>;
    };
}]);</pre>

                    <img src="images/glue_tubeV2.png" style="width: 150px;float:left"/>


<pre class="prettyprint pre18" style="float:left;margin-left: 10px;">
&lt!-- View --&gt
&lt;div ng-controller="MyCtrl"&gt;
  Your name:
  &lt;input type="text" ng-model="<b>name</b>"&gt;
  &lt;button ng-click='<b>sayHello()</b>'&gt;greet&lt;/button&gt;
  &lt;hr&gt;
  <b><span>{{</span> greeting }}</b>
&lt;/div&gt;
</pre>
                </div>

                <div ng-controller="MyCtrl"
                     style="position: absolute;  z-index: 1; left: 650px; top: 200px; max-height: none; max-width: none;border:thin solid lightsteelblue;padding: 5px;font-size:18px;">
                    Your name:
                    <input type="text" ng-model="name">
                    <button ng-click='sayHello()'>greet</button>
                    <hr>
                    {{greeting}}
                </div>
            </div>
            <footer class="source"><a href="https://docs.angularjs.org/guide/scope">Scopes</a></footer>
        </article>
    </slide>

    <script>


        app.controller("MyCtrl2", [function () {
            var self = this;
            self.name = 'World';
            self.sayHello = function () {
                self.greeting = 'Hello ' + self.name;
            };
        }]);

    </script>


    <slide>
        <hgroup>
            <h2>$scope Versus controllerAs Syntax</h2>
        </hgroup>
        <article>
            <div style="margin-top: -40px;">
                In the previous example we injected the $scope variable into the controller.</br>
                In AngularJS 1.2 and later, there is a new syntax, the <span class="emp2">controllerAs</span> syntax,
                which allows
                us to define the variables on the controller instance using the <span class="emp2">this</span> keyword,
                and refer
                to them through the controller from the HTML.
            </div>

            <div style="margin-top: 45px;">


    <pre class="prettyprint pre16" style="float:left">
//Controller
angular.module('scopeExample', []);
 .controller('MyCtrl2', [function(){
   var self = this;
   self.name = 'World';
   self.sayHello = function () {
   self.greeting = 'Hello ' + self.name;
 };
}]);</pre>

                <img src="images/glue_tubeV2.png" style="width: 150px;float:left"/>


<pre class="prettyprint pre16" style="float:left;margin-left: 10px;">
&lt!-- View --&gt
&lt;div ng-controller="MyCtrl2 as ctrl"&gt;
  Your name:
  &lt;input type="text" ng-model="<b>ctrl.name</b>"&gt;
  &lt;button ng-click='<b>ctrl.sayHello()</b>'&gt;ctrl.greet&lt;/button&gt;
  &lt;hr&gt;
  <b><span>{{</span> ctrl.greeting }}</b>
&lt;/div&gt;
</pre>


                <div ng-controller="MyCtrl2 as ctrl"
                     style="position: absolute;  z-index: 1; left: 650px; top: 220px; max-height: none; max-width: none;border:thin solid lightsteelblue;padding: 5px;font-size:18px;">
                    Your name:
                    <input type="text" ng-model="ctrl.name">
                    <button ng-click='ctrl.sayHello()'>greet</button>
                    <hr>
                    {{ctrl.greeting}}
                </div>
            </div>


            <footer class="source">
                <div><a href="https://docs.angularjs.org/api/ng/directive/ngController">Ctrl as and Scope</a></div>
                <br/>
                <div><a href="http://stackoverflow.com/questions/337878/var-self-this">var self=this ???</a></div>
            </footer>
        </article>
    </slide>


    <script>
        $(document).ready(function () {
            $("#ex2").exPresenter({
                directory: "examples/ex2/",
                codeClass: "prettyprint pre16",
                codeStyle: "float:left;margin-right:5px;margin-bottom:5px;width:65%;background-color:white;",
                presenterStyle: "float:right;width:30%",
                imageStyle: "width:100%;",
                imageTitle: "Modules"
            });
        });
    </script>
    <slide>
        <hgroup>
            <h2>Understanding Controllers</h2>
        </hgroup>
        <article>
            <p class="smaller row" style="margin-top: -25px;">
                When a Controller is attached to the DOM via the <em>ng-controller</em> directive, Angular will
                instantiate a new
                Controller object, using the specified Controller's constructor function. A new child scope will be
                available as
                an injectable parameter to the Controller's constructor function as <em>$scope</em>.</p>

            <p>Use controllers to:</p>
            <ul>
                <li>Set up the initial state of the $scope object. (first line in controller)</li>
                <li>Add behavior to the $scope object. (via ng-click)</li>
            </ul>
            <div id="ex2"></div>
        </article>
    </slide>

    <script>
        $(document).ready(function () {
            $("#ex4").exPresenter({
                directory: "examples/ex4/",
                codeClass: "prettyprint pre16",
                codeStyle: "float:left;margin-right:5px;margin-bottom:5px;width:60%;background-color:white;",
                presenterStyle: "float:right;width:38%;height:300px;"

            });
        });
    </script>
    <slide>
        <hgroup>
            <h2>Nested Controllers</h2>
        </hgroup>
        <article>
            <p style="margin-top: -10px;">
                We can create Nested Controllers</p>

            <div id="ex4"></div>
        </article>
    </slide>


    <script>
        $(document).ready(function () {
            $("#ex3").exPresenter({
                directory: "examples/ex3/",
                codeClass: "prettyprint pre17",
                codeStyle: "float:left;margin-right:5px;margin-bottom:5px;width:68%;background-color:white;",
                presenterStyle: "float:right;width:30%;height:300px;"
            });
        });
    </script>
    <slide>
        <hgroup>
            <h2>ng-model - Binding to input controls</h2>
        </hgroup>
        <article>
            <p class="smaller" style="color:#000066;margin-top: -30px;">Important directives when binding between
                Templates and
                Controllers</p>

            <div class="row" style="margin-top:">
                <div class="col-md-3" style="color:#000066;font-weight: bold">
                    ng-controller
                </div>
                <div class="col-md-9">
                    The <a href="https://docs.angularjs.org/api/ng/directive/ngController">ng-controller</a> directive
                    attaches a
                    controller class to the view
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="color:#000066;font-weight: bold">
                    ng-model
                </div>
                <div class="col-md-9">
                    The <a href="https://docs.angularjs.org/api/ng/directive/ngModel">ng-model</a> directive binds an
                    <span class="emp1">input</span>, <span class="emp1">select</span>, or
                    <span class="emp1">textarea</span> (or custom form control) to a property on the scope
                </div>
            </div>

            <div id="ex3" style="margin-top: 20px;"></div>
        </article>
    </slide>

    <script>
        $(document).ready(function () {
            $("#ex5").exPresenter({
                directory: "examples/ex5/",
                codeClass: "prettyprint pre16",
                codeStyle: "float:left;margin-right:5px;margin-bottom:5px;width:60%;background-color:white;",
                presenterStyle: "float:right;width:38%;height:200px;"

            });
        });
    </script>
    <slide>
        <hgroup>
            <h2>Two Way Bindings</h2>
        </hgroup>
        <article>
            <p style="margin-top: -10px;">
                We have a <b>two way data binding</b> when a model variable is bound to a HTML element that can both
                change and display
                the value of the variable. In general, we could have more than one HTML element bound to the same
                variable
            </p>

            <p>
                We use the <em>ng-model</em> directive to bind a model variable to a HTML element that can both display
                and change a value.
            </p>

            <div id="ex5"></div>
        </article>
    </slide>

    <slide>
        <hgroup>
            <h2>Lifecycle of Angular Controllers</h2>
        </hgroup>
        <article>
            <p style="margin-top: -10px;">
                Controllers are not singletons. Anyone can create a new controller and they are never auto-destroyed. <br/>
                The fact is that it's generally bound to the life cycle of its underlying scope. The controller is not automatically destroyed whenever its scope is destroyed.<br/>
                However, after destroying an underlying scope, its controller is useless.
            </p>
            <p>
                If you wan't singleton behaviour, refactor code into an Angular Service and inject this service into your controller.
            </p>
            <p>
                Your controller could be instantiated many times, but all instances will get the same <em>single</em> instance of the service
            </p>

        </article>
    </slide>

    <script>
        $(document).ready(function () {
            $("#cruddemo").exPresenter({
                directory: "examples/CrudDemo/",
                codeClass: "",
                codeStyle: "float:left;margin-right:5px;margin-bottom:5px;width:35%;background-color:white;",
                presenterStyle: "float:right;width:60%;margin-top:-30px;height:450px;"
            });
        });
    </script>

    <slide>
        <hgroup>
            <h2>CRUD Demo</h2>
        </hgroup>
        <article>
            <div style="margin-top: -30px;">Use this reference for the first exercise <a
                    href="http://viralpatel.net/blogs/angularjs-controller-tutorial/">CRUD Demo</a></div>
            <p></p>

            <div id="cruddemo">
            </div>
        </article>
    </slide>


    <slide class="nobackground" style="background: #00163B">
        <aside class="gdbar right"><img src="../images/logo.png" style="width: 200px;"></aside>
        <hgroup>

        </hgroup>
        <article class="flexbox  auto-fadein" style="margin-top: 25%;">


        </article>
        <p class="auto-fadein" data-config-contact>
            <!-- populated from slide_config.json -->
        </p>
    </slide>


    <slide class="backdrop"></slide>

</slides>


<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
<script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>
